* {
    text-align: center;
    font-family: "Staatliches", cursive;
    max-width: 100%;
    max-height: 100%;
    font-size: 25px;
    text-decoration: none;
}

body {
    background-color: darkblue;
    color: darkblue;
}

.row {
    display: flex;
    background-color: rgb(194, 194, 194);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.row2 {
    display: flex;
    margin-top: 50px;
}

img {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

.column {
    flex: 50%;
}

h1 {
    background-image: linear-gradient(to left, yellow, orange, violet, indigo);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 50px;
}

h3 {
    color: darkblue;
    font-size: 40px;
}

h4 {
    background-image: linear-gradient(to left, yellow, pink);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    text-align: left;
}

h5 {
    position: relative;
    top: -85px;
    color: white;
    font-size: 50px;
    background-color: lightcoral;
}

.content {
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: darkblue;
    background-color: rgb(255, 255, 117);
    padding: 45px 10px;
    margin-top: 50px;
    font-size: 25px;
}

.content:before,
.content:after {
    position: relative;
    vertical-align: middle;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 0;
    color: lightcoral;
}
.content:before {
    left: -5px;
    content: "\201C";
}
.content:after {
    content: "\201D";
}

footer {
    background-image: linear-gradient(to left, yellow, orange, violet, indigo);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
}

form {
    background-color: lightcoral;
    padding: 50px 50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.error {
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

input {
    color: black;
    background-color: lightgrey;
    font-size: 25px;
    padding: 10px 10px;
}

input[type="submit"] {
    color: white;
    /* border-radius: 25px; */
    background-image: linear-gradient(to right, lightcoral, lightcoral);
    padding: 10px 10px;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to left, yellow, yellow);
    color: darkblue;
}

Link {
    text-decoration: none;
    color: white;
}

a {
    color: white;
}
a:hover {
    color: darkblue;
}

Link:hover {
    background-color: rgb(255, 255, 117);
    color: darkblue;
}

.friendButton {
    height: 40px;
    padding: 0px;
    margin-top: -20px;
}
button,
Link {
    color: white;
    /* border-radius: 25px; */
    background-image: linear-gradient(to right, lightcoral, lightcoral);
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 50px 50px;
    padding: 10px 10px;
    text-align: top;
}

button:hover,
Link:hover {
    background-image: linear-gradient(to left, yellow, yellow);
    color: darkblue;
}

.ProfilePic {
    width: 300px;
    height: 300px;
    top: 250px;
    left: 100px;
    position: absolute;
}

.headerPic {
    width: 6%;
    height: 6%;
    position: fixed;
    top: 4%;
    right: 5%;
    z-index: -1;
}

.edit {
    width: 8%;
    height: 18%;
    padding: 5px 5px;
    position: relative;
}

.modal {
    background-color: lightcoral;
    padding: 50px 50px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 10px 10px;
    position: fixed;
    top: 45%;
}

.profile {
    background-color: lightgrey;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    position: relative;
    top: -20px;
    height: 600px;
}

.bio {
    position: absolute;
    left: 50%;
}

.close {
    position: fixed;
    margin-top: 5px;
    margin-right: 5px;
}

.OtherProfile {
    background-color: lightgrey;
    position: fixed;
    overflow: auto;
    left: 8px;
    top: 250px;
    width: 1424px;
    height: 480px;
    z-index: 99999;
}

.FindPeople {
    background-image: url(img2.jpg);
    background-color: lightgrey;
    position: fixed;
    overflow: auto;
    z-index: 9999999;
    height: 550px;
    width: 1424px;
    top: 160px;
}

.find-people,
.name {
    background-color: rgba(255, 255, 255, 0.849);
    position: relative;
    left: 40%;
    width: 20%;
    color: darkblue;
}

.search {
    position: fixed;
    top: 50px;
    right: 10px;
}
